<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bawei6.homemodule">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name="com.example.bawei.homemodule.ui.HomeActivity"></activity>
    </application>

</manifest>